html {
	body {
		#app-header {
			#app-name {
				text-align: center;
			}
		}
		#kinect-parallax {
			border-radius: 5px;
			.cursor {
				&#cursor {
					background: cyan;
					&.active {
						background: magenta;
					}
					&.hover {
						background: MediumSpringGreen;
					}
				}
			}
		}
		.popin {
			p {
				font-size: 14px;
				text-align: justify;
			}
		}
		.overlay {
			background: rgb(41, 41, 41);
			opacity: 0.75;
		}
	}
}