@appWidth: 1400px;
@appHeight: 880px;

html {
	body {
		position: absolute;
		width: 100%;
		height: 100%;
		#app-header {
			padding: 25px 0 0 0;
			#app-name {
				margin: 0;
			}
			#app-user {
				width: @appWidth;
				margin: 20px auto 0 auto;
				p {
					margin: 0;
				}
			}
		}
		#kinect-parallax {
			position: relative;
			margin: 50px auto 0 auto;
			max-width: @appWidth;
			max-height: @appHeight;
			min-height: @appHeight;
			#kinect-parallax-layer-1 {
				top: 107px;
				left: -300px;
				width: 2000px;
				height: 666px;
				z-index: 13;
				img {
					position: absolute;
					top: 343px;
					&#car {
						-webkit-transform: translate(560px, 0px) translateZ(0px);
						-moz-transform: translate(560px, 0px) translateZ(0px);
						-ms-transform: translate(560px, 0px) translateZ(0px);
						-o-transform: translate(560px, 0px) translateZ(0px);
						transform: translate(560px, 0px) translateZ(0px);
					}
				}
			}
			#kinect-parallax-layer-2 {
				top: 328px;
				left: 233px;
				width: 933px;
				height: 223px;
				z-index: 9;
				img {
					position: absolute;
					top: 100px;
					left: -295px;
				}
			}
			#kinect-parallax-layer-3 {
				top: 51px;
				left: 271px;
				width: 857px;
				height: 778px;
				z-index: 8;
				img {
					position: absolute;
					top: -150px;
					left: 600px;
				}
			}
			#kinect-parallax-layer-4 {
				top: 266px;
				left: -171px;
				width: 1741px;
				height: 347px;
				z-index: 5;
				img {
					position: absolute;
					top: 70px;
				}
			}
			#kinect-parallax-layer-5 {
				top: -190px;
				left: -300px;
				width: 2000px;
				height: 1258px;
				z-index: 1;
				img {
					position: absolute;
					top: -10px;
				}
			}
			.animated-layer {
				position: absolute;
				top: 0;
				left: -300px;
				width: 1200px;
				height: 300px;
				z-index: 20;
				canvas {
					width: 100%;
					height: 100%;
				}
			}
			.cursor {
				display: none;
				position: absolute;
				width: 15px;
				height: 15px;
				z-index: 999;
				top: 0;
				left: 50%;
			}
		}
		#debug {
			width: @appWidth;
			margin: auto;
			table {
				width: 100%;
				tr {
					width: 100%;
					th,
					td {
						width: 100% / 3;
						text-align: center;
					}
				}
			}
		}
		#sun-informations,
		.popin {
			img {
				display: blocK;
				width: 100%;
				max-width: 300px;
				margin: auto;
			}
		}
		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 999;
		}
	}
}